* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .col {
        flex: 1 1 30%;
    }
}


@media only screen and (max-width: 400px) {
    .col {
        flex: 1 1 50%;
    }

}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.7;
    padding: 30px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.home-page {
    height: 95vh;
    background-color: #deebe7;
    background-image: linear-gradient(to right top, #deebe7e8, #a2c5bbd8), url(../images/horse-background.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 96%);
}

.flex_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}